*{
  margin: 0;
  font-family: Arial, sans-serif;
  border: border-box;
}

.navbar {
  height: 63px;
  background-color: #0f1111;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo{
  width: 100px;
  height: 50px;
}

.logo{
  background-image: url(amazon.jpg);
  height: 50px;
  width: 100px;
  background-size: cover;
}

.border{
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 5px;
}

.border:hover{
  border: 2px solid white;
  cursor: pointer;
}


.adr-one{
  font-size: 0.85rem;
  color: #ccc;
  margin-left: 15px;

}

.adr-two{
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.add-icon{
  display: flex;
  align-items: center;
}

.nav-option{
  display: flex;
  border: 2px solid transparent;
  width: 600px;
  height: 32px;
  background-color: white;
  border-radius: 5px;
}

.search-select{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border:none;
  background-color: white;
  text-align: center;
  width: 40px;
  height: 32px;
}

.search-input{
  width: 100%;
  font-size: 1rem;
  border:none;
}
.search-icon{
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  border-radius: 4px;
  background-color: rgb(255, 170, 0);
}
span{
  font-size: 0.8rem;
  color: #ccc;
}
.nav-lists{
  font-size: 1rem;
  color: #ccc;
  font-weight: bold;
}
.nav-option:hover{
  border: 2px solid orange;
  cursor: pointer;
}

.nav-cart i {
  font-size: 30px;

}

.panel{
  display: flex;
  height: 40px;
  background-color: #222f3d;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.panel-opt p{
  display: inline;
  margin-left: 10px;
}

.panel-opt{
  width: 70%;
  font-size: 0.85rem;
}
.panel-deals{
  font-size: 1rem;
  font-weight: bold;
}


/* image background */

.hero-section{
  height: 400px;
  background-image: url(hero.jpg);
  background-size: cover;
}
.shop-sec{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(217, 156, 217);
  gap: 10px;
  padding: 10px;

}
.box{
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
.box-img{
  width: 100%;
  height: 300px;
  background-size: cover;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p{
  color: #007185
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.images img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    margin-top: 15px;
}

.images p {
    margin: 5px 0 10px;
    font-size: 14px;
    white-space: nowrap;
    color:#0f1111
}

.box a {
    display: inline;
    color: #007185;       /* change the color here */
    text-decoration: none;
    white-space: nowrap; /* keeps it on one line */
}


.foot-panel{
  background-color: #222f3d;
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
footer{
  background-color: #151d27;
  color: white;
  font-size: 1rem;
}

ul a{
  display: block;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}
.foot-panel1{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  width: 100%;
  height: 250px;
}

.foot-panel3{
  width: 100%;
  background-color: #151d27;
  color: white;
  display: flex;
  border-top: white 1px solid;
  height: 70px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.foot-panel4{
  height: 50px;
  width: 100%;
  border:none;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #0f1111;
  font-size: 0.85rem;
}
.foot-panel1 a{
  color: white;
}

